<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<link th:rel="stylesheet" type="text/css" th:href="@{/css/estiloFooter.css}" />

<body>
	<div id="footer" th:fragment="footer" class="navmio" style="background-color:#000000">
	 
		 <div class="row row-cols-1 row-cols-sm-3 g-3">
		   <div class="col lg-4 mb-4" style="text-align:center;color:#ffffff">
		   <h1 style="color:#000000"> g</h1>
		   <h3>Trabajo Final</h3>
		    <h5>Materia: Programacion Visual</h5>
		    <h5>Profesor: Gustavo Sosa</h5>
		    <h5>Escuela de Minas</h5>
		    <h5>3ro Info - 2021</h5>
		   </div>
		   <div class="col lg-4 mb-4" style="text-align:center;color:#ffffff">
		  <h1 style="color:#000000"> g</h1>
		  <h3>Grupo 3</h3>
		 <h5>Integrantes: </h5>
		 <h6>Merlos, Karen</h6>
		 <h6>Marcial, Selene Zoe Aylen</h6>
		  </div>
		   
		   <div class="col lg-4 mb-4">
		  
		   <img src="https://image.shutterstock.com/z/stock-vector-llama-poster-with-inscription-sup-guys-means-what-s-up-simple-alpaca-head-with-sunglasses-on-1128096971.jpg" style="width:90%;height:250px">
		   
		   </div>
		 </div>
	</div>
</body>
</html>