<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<link th:rel="stylesheet" type="text/css" th:href="@{/css/estiloFooter.css}" />

<body>
	<div id="footer" th:fragment="footer" class="navmio" style="background-image: url(/img/recurso3.png);">
	 
		 <div class="row row-cols-1 row-cols-sm-3 g-3">
		   <div class="col lg-4 mb-4" style="text-align:center;color:#ffffff"><br>
		  <br>
		       <h3>Trabajo Final</h3>
		    <h5>Programacion Visual</h5>
		    <h5>Profesor: Gustavo Sosa</h5>
		    <h5>Escuela de Minas</h5>
		    <h5>3ro Info - 2021</h5>
		   </div>
		   <div class="col lg-4 mb-4" style="text-align:center;color:#ffffff"><br>
		  <br>
		  <h3>Grupo 3</h3>
		 <h5>Integrantes: </h5>
		 <h5>Merlos, Karen Nicole</h5>
		 <h5>Marcial, Selene Zoe Aylen</h5>
		  </div>
		   
		    
		 </div>
	</div>
</body>
</html>