<!DOCTYPE html>
<html>
<body>

<div id="headerRoot" th:fragment="header">
<ul class="nav justify-content-center">
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="/turista/mostrar">Turista</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/poI/cargar">Puntos de Interes</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/valoraciones/ver">Comentarios y Valoraciones</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" th:href="@{/logout}">Cerrar Sesion</a>
  </li>
</ul>
</div>
</body>
</html>