<!DOCTYPE html>
<html>
<body>

<div id="header" th:fragment="header">

<div class="container-xxl">

 <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a href="/inicio"><img  src="/img/llama.png" width="60" height="80"></a>
  <a class="navbar-brand" href="#">TURISMO</a>
   <a class="navbar-brand" href="#"></a>
    <a class="navbar-brand" href="#"></a>
     <a class="navbar-brand" href="#"></a>
      <a class="navbar-brand" href="#"></a>
       <a class="navbar-brand" href="#"></a>
        <a class="navbar-brand" href="#"></a>
         <a class="navbar-brand" href="#"></a>
          <a class="navbar-brand" href="#"></a>
           <a class="navbar-brand" href="#"></a>
            <a class="navbar-brand" href="#"></a>
             <a class="navbar-brand" href="#"></a>
              <a class="navbar-brand" href="#"></a>
               <a class="navbar-brand" href="#"></a>
                <a class="navbar-brand" href="#"></a>
                <a class="navbar-brand" href="#"></a>
    <a class="navbar-brand" href="#"></a>
     <a class="navbar-brand" href="#"></a>
      <a class="navbar-brand" href="#"></a>
      <a class="navbar-brand" href="#"></a>
     <a class="navbar-brand" href="#"></a>
      <a class="navbar-brand" href="#"></a>
      <a class="navbar-brand" href="#"></a>
     <a class="navbar-brand" href="#"></a>
      <a class="navbar-brand" href="#"></a>
     
       
       
 <div class="container">
<ul class=" nav nav-pills nav-tabs ">
  <li class="nav-item">
    <a class="nav-link btn btn-lg" aria-current="page" href="/inicio"><i class="fas fa-home"></i>Inicio</a>
  </li>
  
  <li class="nav-item">
    <a class="nav-link btn btn-lg" aria-current="page" href="/poI/mostrar"><i class="fas fa-mountain"></i>Puntos de Interes</a>
  </li>
     	
</ul>	
</div>
     <div class="dropdown">
      <a class="nav-link dropdown-toggle btn btn-lg " aria-expanded="false" data-toggle="dropdown"><i class="fas fa-user-circle"></i> Mi Perfil</a>
      <div class="dropdown-menu dropdown-menu-end">
        <a class="dropdown-item" th:text="${#authentication.getPrincipal().getUsername()}"><i class="fas fa-user-check"></i></a>
         <a><hr class="dropdown-divider"></a>
        <a class="dropdown-item" href="/turista/perfil"><i class="fas fa-address-card"></i> Ver Perfil</a>
        <a class="dropdown-item" href="/poI/mostrar/mispois"><i class="fas fa-mountain"></i>Ver Mis Pois</a>
        <a class="dropdown-item" href="/cupones/mostrar"><i class="fas fa-gifts"></i>Canjear Puntos</a>
        <a><hr class="dropdown-divider"></a>
        <a class="dropdown-item" href="#" th:href="@{/logout}">Cerrar Sesion <i class="fas fa-sign-out-alt"></i></a>
      </div>
      </div>
       <a class="navbar-brand" href="#"></a>
      <a class="navbar-brand" href="#"></a>
      <a class="navbar-brand" href="#"></a>
</nav>
	</div>
</div>
</body>
</html>