<!DOCTYPE html>
<html>
<body>

<div id="headerRoot" th:fragment="header">
<ul class="nav justify-content-center">
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="#">Turista</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Puntos de Interes</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Comentarios y Valoraciones</a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
  </li>
</ul>
</div>
</body>
</html>