@charset "UTF-8";

@import
	url("https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700")
	;



h3, h4, h6 {
	color: #455a64;
	font-family: "Montserrat", sans-serif;
	font-weight: 400
}




.form-material .form-control {
	background-color: rgba(0, 0, 0, 0);
	background-position: center bottom, center calc(100% - 1px);
	background-repeat: no-repeat;
	background-size: 0 2px, 100% 1px;
	padding: 0;
	-webkit-transition: background 0s ease-out 0s;
	-o-transition: background 0s ease-out 0s;
	transition: background 0s ease-out 0s
}

.form-material .form-control, .form-material .form-control.focus,
	.form-material .form-control:focus {
	background-image: -webkit-gradient(linear, left top, left bottom, from(#398bf7),
		to(#398bf7)),
		-webkit-gradient(linear, left top, left bottom, from(#e9edf2),
		to(#e9edf2));
	background-image: -o-linear-gradient(#398bf7, #398bf7),
		-o-linear-gradient(#e9edf2, #e9edf2);
	background-image: linear-gradient(#398bf7, #398bf7),
		linear-gradient(#e9edf2, #e9edf2);
	border: 0 none;
	border-radius: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
	float: none
}

.form-material .form-control.focus, .form-material .form-control:focus {
	background-size: 100% 2px, 100% 1px;
	outline: 0 none;
	-webkit-transition-duration: 0.3s;
	-o-transition-duration: 0.3s;
	transition-duration: 0.3s
}
