@charset "UTF-8";

@import
	url("https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700")
	;



.container h3, h4, h6 {
	color: #455a64;
	font-family: "Montserrat", sans-serif;
	font-weight: 400
}

.imagen {
	text-align: center;
}

