
.col:hover{
     transform: scale(1.1);
     box-shadow: 3px 3px 10px rgba(0,0,0,0.6);
} 


 h1 {
	margin: 0;
    text-align: center;
    height: 60px;
    margin-bottom: 20px;
}

.body-home {
  font-family: "Open Sans", sans-serif;
  height: 100vh;
  background: url(https://static.vecteezy.com/system/resources/previews/002/050/415/non_2x/wooden-table-with-natural-background-free-photo.jpg) 50% fixed;
  background-size: cover;
}


.login-box {
	
  padding: 10px 20px 20px 20px;
  width: 90%;
  max-width: 350px;
  background: #ffffff;
  position: relative;
  box-shadow: 0px 1px 5px rgba(0,0,0,0.3);
  opacity: 0.6;
  top: 50px; 
  left: 400px;
  
 }
 
.app-title {
  text-align: center;
  color: #000000;
}

img{
  display:block;
  margin:auto;
}