<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

<link th:rel="stylesheet" type="text/css" th:href="@{/css/estilozoe.css}" />
<link th:rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/4.5.0/css/bootstrap.min.css}">
<link th:rel="stylesheet" th:href="@{/webjars/font-awesome/5.11.2/css/all.css} " />

<meta charset="UTF-8">
<title>Cargar Fotografias</title>
</head>
<body>

<div class = "container">
<form th:object="${unaFotografia}" th:action="@{/foto/guardar/}" method="post" enctype="multipart/form-data">

      <div class="form-group col-12 col-md-6">
			       <label for="file" class="col-sm-4 col-form-label"> Subir Imagen </label>
				<input type="file" name="file" class="form-control-file" id="file" accept="image/x-png,image/gif,image/jpeg,image/png,image/jpeg" onchange="loadFile(event)">
						<img id="output" style="padding-top: 2px; width: 14px;"/>
	            </div>		
	            
	   <button> </button>

</form>
</div>

        <script th:src="@{/webjars/jquery/3.5.1/jquery.min.js}" type="text/javascript" src="webjars/jquery/3.5.1/jquery.min.js"></script>
		<script th:src="@{/webjars/popper.js/1.16.0/popper.min.js}" type="text/javascript" src="webjars/popper.js/1.16.0/popper.min.js"></script>
		<script th:src="@{/webjars/bootstrap/4.5.0/js/bootstrap.min.js}" type="text/javascript" src="webjars/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</body>
</html>