<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

         <link th:rel="stylesheet" type="text/css" th:href="@{/css/estiloInicio.css}" />
         <link th:rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/4.5.0/css/bootstrap.min.css}">
         <link th:rel="stylesheet" th:href="@{/webjars/font-awesome/5.11.2/css/all.css}" />

<meta charset="UTF-8">
<title>Inicio</title>
</head>
<body>

	<section id="sec1">
	<div class="inicio-box">
         <main class="px-3">
         <h1>¡BIENVENIDO!</h1>
         <p class="lead">Pagina creada para darle al turista una mejor experiencia en su viaje</p>
         <p><a href="#sec2" class="btn btn-lg btn-secondary">Descubrir</a></p>
  	</main>
  </div>
				
				
	</section>

	<section id="sec2">
		<div th:insert="layouts/header :: header"></div>
		
	
		
		<div class="container">
		 <h2>Puntos de Interes Mas Populares</h2>
		 
		<div class="album py-5">
		<div th:if = "${poIs!=null}" class="row row-cols-1 row-cols-sm-3 g-3">
		<div  th:each="p : ${poIs}">
		<div class="col lg-4 mb-4">
		<div class="contenedor">
		<figure>
             <img onerror="this.src='/img/recursolisto.png';" th:src="*{'data:;base64,'+p.imagen}" class="d-block w-100">
             <div class="texto">
                   <a class="centrado" th:href="@{'/valoracion/mostrar/'+${p.codigoPoI}}" th:text="${p.nombrePoI}"></a>
             </div>
             
             </figure>
             
             </div>
             </div>
             </div>
             </div>
          </div>
		</div>
		
		
		<div class="turistas">
		 <div class="container">
		<h2>Usuarios con mas puntos</h2>
		<div class="album py-5">
		<div th:if = "${turista!=null}" class="row row-cols-1 row-cols-sm-3 g-3">
		
		 <div  th:each="t : ${turista}">
		 <div  class="col lg-4 mb-4">
		 <div class="conte">
		 
		    <img onerror="this.src='/img/perfil.png';" class="rounded-circle m-1" th:src="${'data:;base64,' + t.fotoPerfil}" style="width:150px;height:150px"> 
			<h3><a th:text = "${t.email}" th:href="@{'/perfil/'+${t.id}}"></a></h3>
			<h3  th:text = "${t.puntos}"></h3>
		</div>	
		</div>
		</div>
		</div>
		</div>
		</div>
		</div>
		
        <div th:insert="layouts/footer :: footer"></div>	
	</section>


	<script th:src="@{/webjars/jquery/3.5.1/jquery.min.js}" type="text/javascript" src="webjars/jquery/3.5.1/jquery.min.js"></script>
		<script th:src="@{/webjars/popper.js/1.16.0/popper.min.js}" type="text/javascript" src="webjars/popper.js/1.16.0/popper.min.js"></script>
		<script th:src="@{/webjars/bootstrap/4.5.0/js/bootstrap.min.js}" type="text/javascript" src="webjars/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</body>
</html>