<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

<link th:rel="stylesheet" type="text/css" th:href="@{/css/estiloturista.css}" />
<link th:rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/4.5.0/css/bootstrap.min.css}">
<link th:rel="stylesheet" th:href="@{/webjars/font-awesome/5.11.2/css/all.css} " />

    <meta charset="utf-8">
    
    
<title>Perfil Turista</title>
</head>
<body>
<div th:insert="layouts/header :: header"></div>
  <form th:object="${perfil}"  th:action="@{/turista/perfilGuardar}" method="post">
  
<input type="hidden" name="id" th:field="*{id}" th:value="id">
  
  <div id="main-wrapper">
  
     <div id="page-wrapper">
     
         <div class = "container-fluid">
         
               <div class = "row page-titles">
                   <div class = "col-md 5 align-self-center">
                   <h3 class = "text-themecolor">Perfil Turista</h3>
                   </div>
               </div>
               
             <div class= "row">
                 <div class= "col-lg-4 col-xlg-3">
                 
                 </div>
             </div>
             
             <div class = "col-lg-8 col-xlg-9">
               <div class = "card">
                    <div class = "card-body">
                       <form class= "form-horizontal form-material mx-2">
                       
                         <div>
                           <label class="col-md-12">Nombre</label>
                           <div class="col-md-12">
                              <input type = "text" placeholder="Ingrese Nombre"
                              class = "form-control form-control-line" th:field="*{nombre}" th:value="*{nombre}">
                           </div>
                         </div>
                         <div>
                           <label class="col-md-12">Apellido</label>
                           <div class="col-md-12">
                              <input type = "text" placeholder="Ingrese Apellido"
                              class = "form-control form-control-line" th:field="*{apellido}" th:value="*{apellido}">
                           </div>
                         </div>
                         <div>
                           <label class="col-md-12">Email</label>
                           <div class="col-md-12">
                              <input type = "email" placeholder="nombre@gmail.com"
                              class = "form-control form-control-line" th:field="*{email}" th:value="*{email}">
                           </div>
                         </div>
                         <div>
                           <label class="col-md-12">Password</label>
                           <div class="col-md-12">
                              <input type = "password" placeholder="Ingrese Contraseña"
                              class = "form-control form-control-line" th:field="*{password}" th:value="*{password}">
                           </div>
                          
                         </div>
                         <div class ="form-group">
                           <label class="col-md-12">Pais</label>
                           <div class="col-md-12">
                              <select class ="form-control form-control-line" th:field="*{pais}" >
                              <option value="Argentina">Argentina</option>
                              <option value="Brasil">Brasil</option>
                              <option value="Alemania">Alemania</option>
                              <option value="Canada">Canada</option>
                              <option value="Usa">Usa</option>
                              </select>
                             
                           </div>
                         </div>
                         
                         <div class ="form-group">
                           <div class ="col-sm-12">
                             <input type="submit" class="btn btn-success "  value="Guardar Perfil">
                           </div>
                         </div>
                         
                       </form>
                    </div>
               </div>
             </div>
         
         </div>
  
  
     </div>
  </div>
    
  
  </form> 
    
</body>
</html>