<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

<link th:rel="stylesheet" type="text/css" th:href="@{/css/estilozoe.css}" />
<link th:rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/4.5.0/css/bootstrap.min.css}">
<link th:rel="stylesheet" th:href="@{/webjars/font-awesome/5.11.2/css/all.css} " />

<meta charset="UTF-8">
<title>PoIs</title>
</head>
<body>
<div th:insert="layouts/header :: header"></div>


					<div class="btn-group end" role="group">
					
						<button id="btnGroupDrop1" type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
						 <div class="dropdown-menu show" aria-labelledby="btnGroupDrop1" data-popper-placement="bottom-start"  >
							<a href="/poI/mostrar" class="dropdown-item">Todos</a>
							<a href="/poI/mostrarValorados" class="dropdown-item">Mas
								Valorados</a>
						</div>
					</div>
				

<div class="album py-5">
    <div class="container">
      <div class="row row-cols-1 row-cols-sm-2 g-3">
      <div th:each="p : ${poIs}">
        <div class="col lg-4 mb-4">
          <div class="card border border-dark">
          <img th:src="*{'data:;base64,'+p.imagen}" class="card-img-top" alt=" ">
           <!--  <img th:src="*{'data:;base64,'+p.fotografias.get('0').imagen}" class="card-img-top" alt="hola"> -->
           </div>
            <div class="card-body border border-dark">
              <span class="badge bg-success text-light" th:text="${p.etiqueta}"></span>
              <p class="card-text" th:text="${p.nombrePoI}"></p>
              <p class="card-text" th:text="${p.descripcion}"> </p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a class="btn btn-sm btn-outline-secondary" th:href="@{'/valoracion/mostrar/'+${p.codigoPoI}}">Ver Mas</a>
                </div>
                <small class="text-muted" th:text="${p.localidad}"></small>
              </div>
          </div>
        </div>
        <br>
        </div>
        </div>
        </div>
        </div>

        <script th:src="@{/webjars/jquery/3.5.1/jquery.min.js}" type="text/javascript" src="webjars/jquery/3.5.1/jquery.min.js"></script>
		<script th:src="@{/webjars/popper.js/1.16.0/popper.min.js}" type="text/javascript" src="webjars/popper.js/1.16.0/popper.min.js"></script>
		<script th:src="@{/webjars/bootstrap/4.5.0/js/bootstrap.min.js}" type="text/javascript" src="webjars/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</body>
</html>