<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

<link th:rel="stylesheet" type="text/css" th:href="@{/css/estiloValoracion.css}" />
<link th:rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/4.5.0/css/bootstrap.min.css}">
<link th:rel="stylesheet" th:href="@{/webjars/font-awesome/5.11.2/css/all.css} " />

<meta charset="UTF-8">
<title>Valoraciones</title>
</head>
<body>
<div th:insert="layouts/header :: header"></div>


<div class = "container">

 <form th:object="${unaValoracion}" th:action="${editMode}?@{'/valoracion/modificar/'+*{poI.codigoPoI}}:@{'/valoracion/guardar/'+*{poI.codigoPoI}}" method="post">
   
 <div class="carta">
<div class="card">
  <div class="row g-2">
  <div class=" group col-12 col-md-7">
  <div id="carouselExample" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
      <li data-target="#carouselExample" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExample" data-slide-to="1" class="active"></li>
      <li data-target="#carouselExample" data-slide-to="2" class="active"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img onerror="this.src='/img/recursolisto.png';" th:src="*{'data:;base64,'+poI.imagen}" class="d-block w-100" width="500" height="400" >
    </div>
    <div class="carousel-item">
      <img onerror="this.src='/img/recursolisto.png';" th:src="*{'data:;base64,'+poI.imagen2}" class="d-block w-100" width="500" height="400" >
    </div>
    <div class="carousel-item">
     <img onerror="this.src='/img/recursolisto.png';" th:src="*{'data:;base64,'+poI.imagen3}" class="d-block w-100" alt="" width="500" height="400">
    </div>
  </div>
  <a href="#carouselExample" class="carousel-control-prev" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"> </span>
        <span class="visually-hidden"></span>
   </a>
    <a href="#carouselExample" class="carousel-control-next" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"> </span>
        <span class="visually-hidden"></span>
   </a>
</div>
    </div>
    
    <div class="group col-12 col-md-5">
      <div class="card-body">
        
        <h3 class="card-title" th:text="*{poI.nombrePoI}"></h3> 
        <span class="badge bg-success text-light" th:text="*{poI.etiqueta}"></span>
        <br>
        <p class="card-text" th:text="*{'Direccion:  ' + poI.calle + ' ' + 'N°' + poI.numeroCasa + ' ' + 'B° ' + poI.barrio}"></p>
        <p class="card-text" th:text="*{'Localidad: ' + poI.localidad}"></p>
        <p class="card-text" th:text="*{'Coordenadas: ' + poI.latitud + '° ' + poI.Longitud} + '° ' "></p>
        <p class="card-text" th:text="*{'Descripcion: ' + poI.descripcion}"></p>
       <p>Sitio Web: <a class="card-text" th:text="*{poI.sitioWeb}" th:href="*{poI.sitioWeb}"></a></p>
        <p class="card-text" th:text="*{'Autor: ' + poI.turistaAutor.email}"></p>
      </div>
    </div>
  </div>
</div>
 </div>
 
 <h2 class="text-center">Deja una puntuacion y comenta</h2>
 
  <p class="clasificacion">
    <input id="radio1" type="radio" name="estrellas" value="5" th:field="*{valoracion}"><!--
    --><label for="radio1">★</label><!--
    --><input id="radio2" type="radio" name="estrellas" value="4" th:field="*{valoracion}"><!--
    --><label for="radio2">★</label><!--
    --><input id="radio3" type="radio" name="estrellas" value="3" th:field="*{valoracion}"><!--
    --><label for="radio3">★</label><!--
    --><input id="radio4" type="radio" name="estrellas" value="2" th:field="*{valoracion}"><!--
    --><label for="radio4">★</label><!--
    --><input id="radio5" type="radio" name="estrellas" value="1" th:field="*{valoracion}"><!--
    --><label for="radio5">★</label>
  </p>
  	
  <div class="row mt-5">
  <div class="col-md-12">
			
			<div class="row mb-3" style = "display:none;">
	    <div class="form-group col-12 col-md-6">
		    <label for="nombre" class="col-sm-2 col-form-label">codigo</label>
		    <input type="number" class="form-control" id="nombre" th:field="*{idTuristas_PoIs}">
	    </div>
	</div>
			
			<div class="p-2">
						<div class="d-flex flex-row align-items-start">
							<img class="rounded-circle" src="https://ceslava.s3-accelerate.amazonaws.com/2016/04/mistery-man-gravatar-wordpress-avatar-persona-misteriosa-510x510.png" width="50">
							<textarea placeholder="Escribe un comentario" id="caja-comentario" class="form-control ml-1 shadow-none" name="comentario" th:field="*{comentario}"></textarea>
						</div>
						<div class="mt-4 text-right">
							<button class="btn btn-primary btn-sm" type="submit">Publicar</button>
							<button type="button" id="boton-cancelar" class="btn btn-danger btn-sm ml-1">Cancelar</button>
						</div>
			</div>
  </div>
  </div>
				
</form>
</div>
<h2 class="text-center">Comentarios</h2>

		
			
<div class="container">
<div class="album py-5">

  <div class="row row-cols-1 row-cols-sm-3 g-3">
  <div th:each="v : ${valoraciones}">
      <div  class="col lg-4 mb-4">
      <div class="caja border">
        <img onerror="this.src='/img/perfil.png';" class="rounded-circle m-3" th:src="${'data:;base64,' + v.turista.fotoPerfil}" style="width:90px;height:90px">
						<p class="d-block font-weight-bold name"></p>
						<p class="date text-black-50" th:text="${v.turista.nombre + '  ' +v.turista.apellido}"></p>
						<p class="date text-black-50" th:text="${v.turista.email}"></p>
						<p class="date text-black-50" th:text="${'Valoracion: ' + v.valoracion}"></p>
						<p class="date text-black-50" th:text="${'Fecha Valoracion: ' + v.fechaComentario}"></p>
						<p class="comment-text" th:text="${v.comentario}"></p>
						
      </div>
      </div>
  </div>

</div>
</div>		

</div>

<h1 class="text-center"> mis valoraciones</h1>
<div class="container">
<div class="album py-5">

  <div class="row row-cols-1 row-cols-sm-4 g-3">
  <div th:each=" v : ${mivaloracion}">
      <div  class="col lg-4 mb-4">
      <div class="caja border">
        <img onerror="this.src='/img/perfil.png';" class="rounded-circle m-3" th:src="${'data:;base64,' + v.turista.fotoPerfil}" style="width:40px;height:40px">
						<p class="date text-black-50" th:text="${v.turista.email}"></p>
						<p class="date text-black-50" th:text="${'Valoracion: ' + v.valoracion}"></p>
						<p class="date text-black-50" th:text="${'Fecha Valoracion: ' + v.fechaComentario}"></p>
						<p class="comment-text" th:text="${v.comentario}"></p>
		<div class="btn-group">
                  <a  class="btn btn-sm btn-outline-secondary"  th:href="@{'/valoracion/editar/'+${v.idTuristas_PoIs}}">Editar <i class="fas fa-edit"></i></a>
                  <a  class="btn btn-sm btn-outline-secondary"  th:onclick="'javascript:confirmarEliminar(\''+${v.idTuristas_PoIs}+'\');'">Eliminar <i class="far fa-trash-alt"></i></a>
                </div>	
      </div>
      </div>
  </div>

</div>
</div>		

</div>

<!--Modal Eliminar--> 
							<div class="modal fade" id="modalEliminar" tabindex="-1" role="dialog" aria-labelledby="eliminarModal" aria-hidden="true">
								<div class="modal-dialog modal-dialog-centered" role="document">
									<div class="modal-content">
										<div class="modal-header">
											<h5 class="modal-title" id="eliminarModalTitulo">Eliminar</h5>
											<button type="button" class="close" data-dismiss="modal" aria-label="Close">
											<span aria-hidden="true">&times;</span>
											</button>
										</div>
										<div class="modal-body"><h6>Desea eliminar este comentario?</h6></div>
										<input type="hidden" id="identificadorValoracion" name="idTuristas_PoIs"/>
										<div class="modal-footer">
											<button type="button" class="btn btn-secondary"	data-dismiss="modal">Close</button>
										    <button type="button" class="btn btn-primary" th:onclick="eliminarValoracion()">Eliminar Comentario</button>
										</div>
									</div>
								</div>
							</div>
	<script type="text/javascript">
function confirmarEliminar(id){
	$('#modalEliminar').modal('show');
	$("#identificadorValoracion").val(id);
}

function eliminarValoracion(){
	var id = $("#identificadorValoracion").val();
    window.location = "/valoracion/eliminarValoracion/"+id;
}
</script>

<div th:insert="layouts/footer :: footer"></div>


 <script th:src="@{/webjars/jquery/3.5.1/jquery.min.js}" type="text/javascript" src="webjars/jquery/3.5.1/jquery.min.js"></script>
		<script th:src="@{/webjars/popper.js/1.16.0/popper.min.js}" type="text/javascript" src="webjars/popper.js/1.16.0/popper.min.js"></script>
		<script th:src="@{/webjars/bootstrap/4.5.0/js/bootstrap.min.js}" type="text/javascript" src="webjars/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</body>
</html>